    body {
        background-color:rgb(245, 57, 88);
    }

    input {
        margin-bottom: 1em;
    }

    h1{
        margin-left: 50%;
    }

    #center {
        margin-left: 50%;
    }

    button{
        border: 1em;
    }